# You may need to run this as: 
# pip install --trusted-host=artifactory.oci.oraclecorp.com -r requirements.txt
# because the requirements.txt file doesn't support the --trusted-host option (https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format)
--extra-index-url https://artifactory.oci.oraclecorp.com/api/pypi/opc-public-sdk-dev-pypi-local/simple

appdirs
arrow
certifi
cffi
click
configparser
coverage
cryptography
httpsig-cffi
idna
Jinja2
jmespath
ndg-httpsclient
mock
oci
packaging
pluggy
py
pyasn1
pyOpenSSL
pycparser
pyparsing
pytest
pytest-cov
python-dateutil
pytz
requests
retrying
six
sphinx
sphinx-rtd-theme
terminaltables
tox
vcrpy
virtualenv
pytest-xdist
